@model WebApplication3.Models.ModelW
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V12</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/1.css">
  

    




</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/img-01.jpg');">
            <div class="wrap-login100 p-t-160 p-b-30" id="container">

                <form class="row g-3 needs-validation" novalidate method="POST">

                    <button class="sliding-button" onclick="count_rabbits()"> Добавить строку </button>

                    <input type="text" class="form-control" required name="DepartmentName" placeholder="Отдел">


                    <div class="col-sm" id="table">
                        <input type="text" class="form-control" id="validationCustom" required name="Surname" placeholder="Фамилия">
                        <span class="focus"></span>
                    </div>

                    <div class="col-sm" id="table2">
                        <input type="text" class="form-control" id="validationCustom" required name="Name" placeholder="Имя">
                        <span class="focus"></span>
                    </div>

                    <div class="col-sm" id="table3">
                        <input type="text" class="form-control" id="validationCustom" required name="Patronymic" placeholder="Отчество">
                        <span class="focus"></span>
                    </div>
                    <div class="col-sm" id="table5">

                        <input class="form-control" required id="validationCustom" type="text" name="Position" placeholder="Должность">
                        <span class="focus"></span>

                    </div>

                    <div class="col-sm" id="table4">
                        <select class="form-control" id="validationCustom05" name="WorkingMode">
                            <option value="Office" selected="selected">Офис</option>
                            <option value="Remoute">Удаленка</option>
                            <option value="Changle">Дежурство</option>
                        </select>
                        <span class="focus"></span>
                    </div>



                    <button class="sliding-button2" type="submit">
                        Сохранить данные
                    </button>



                </form>




            </div>



            <script src="js/mod2.js"></script>
            <!--===============================================================================================-->





</body>
</html>